# Erstellung von Tabellen mit Hilfe von Python und `DataFrames`

In diesem Jupyter Notebook erfahren Sie, wie Sie Tabellen erzeugen können, die für Ihre Messdaten geeignet sind. Als Basis wird das Paket `pandas` und die darin enthaltenen `DataFrames` verwendet.

---

## Eingabe der Daten

Zunächst tragen Sie Ihre Messdaten in einfachen Listenvariablen ein. Diese können Sie frei benennen, wobei die Bezeichnung eindeutig sein sollte. Im folgenden Beispiel sind Daten aus einer Messreihe an einer Windkraftanlage mit 3-Blattrotor enthalten. Die Daten werden je nach gemessener Variable in Listen gespeichert. Gemessen wurden die Spannung *U*, die Stomstärke *I* und die Rotordrehzahl *D*. Entsprechend wurden daraus 3 Listen erstellt: 
```python
u_3blatt
i_3blatt
D_3blatt
```
> Bedenken Sie, dass Werte voneinander durch Kommata `,` getrennt werden. Das Dezimaltrennzeichen in python ist standardmäßig **immer** ein Punkt `.`.

In [29]:
# DATENERFASSUNG - NUR MESSWERTE EINTRAGEN!

# Messwerte für 3-Blatt-Rotor (optimiertes Profil)
u_3blatt = [3.74, 3.54, 3.33, 3.13, 2.92, 2.73, 2.51, 2.33, 2.12, 1.90, 1.71, 1.53, 1.32, 1.10, 0.855, 0.738]   # Spannung in V
i_3blatt = [4.11, 10.5, 20.2, 28.4, 37.2, 45.0, 53.4, 60.4, 68.6, 76.2, 82.6, 88.6, 94.9, 99.3, 101.7, 99.3]     # Strom in mA
D_3blatt = [4791, 4678, 4537, 4422, 4297, 4175, 4029, 3900, 3766, 3581, 3465, 3312, 3110, 2923, 2628, 2354]     # Drehzahl in 1/min

print("Daten erfolgreich geladen!")
print("Verfügbare Datensätze:")
print(f"   - 3-Blatt-Rotor, optimiert:  {len(u_3blatt)} Messpunkte")
print("Bereit für Auswertung in den nächsten Zelle!")

Daten erfolgreich geladen!
Verfügbare Datensätze:
   - 3-Blatt-Rotor, optimiert:  16 Messpunkte
Bereit für Auswertung in den nächsten Zelle!

## Erstellung eines `DataFrame`s

Wenn Sie Ihre Werte so notieren, werden Sie als Tupel, also in Form von Vektoren abgespeichert. Außerdem müssen Sie alle Variablen einzeln abrufen, um auf die Daten wieder zuzugreifen, was umständlich ist.

Indem Sie die Daten nun in `pandas`-DataFrames laden, können Sie mathematische Operationen mit den Vektoren durchführen, wie z. B. Multiplikation oder Division.

Um `pandas` nutzen zu können, muss dies zunächst importiert werden, dies erfolgt in der Regel durch 
```python
import pandas as pd
```
Übertragen wir nun die Daten aus den Vektor-Listen (`u_3blatt`, `i_3blatt` und `D_3blatt`) in `pandas`-DataFrames, durch den Befehl 
```python
df_name = pd.DataFrame({
    "Überschrift 1": Datensatz 1,
    "Überschrift 2": Datensatz 2,
    "Überschrift 3": Datensatz 3})
```

In [30]:
# PANDAS IMPORTIEREN

import pandas as pd

# DATAFRAMES AUS DEN LISTEN ERSTELLEN  

# 3-Blatt-Rotor, optimiert
df_3blatt = pd.DataFrame({
    "U [V]": u_3blatt,
    "I [mA]": i_3blatt,
    "D [1/min]": D_3blatt})

# Indizes als "Messpunkte" umbenennen (Zählung bei 1 starten)
for df in [df_3blatt]:
    df.index = [f"Messpunkt {i+1}" for i in range(len(df))]

print("DataFrames erfolgreich erstellt:")
print(f"- df_3blatt: {len(df_3blatt)} Messpunkte")

DataFrames erfolgreich erstellt:
- df_3blatt: 16 Messpunkte

## Erstellen einer Tabelle aus `pandas.DataFrame`s

Sie können Ihre Messdaten nun durch den `display`-Befehl anzeigen:

In [32]:
# MESSDATENTABELLEN ANZEIGEN

print("Tabelle 1: Messdaten – 3-Blatt-Rotor (optimiertes Profil)")
display(df_3blatt.round(2).style.format(precision=2))

Tabelle 1: Messdaten – 3-Blatt-Rotor (optimiertes Profil)

## Anzeigemöglichkeiten, Rundung, Nachkommastellen

In dem obigen Beispiel werden die Messwerte auf 2 Nachkommastellen gerundet durch das `.round(2)`-Argument. Durch die Angabe der Anzeigepräzision (`.format(precision=2)`) kann global angegeben werden, wieviele Nachkommastellen angegeben werden, sofern Vorhanden.

Hier nun einige Tabellen zum Vergleich:

In [34]:
# Round 2 und Precision 1
print("Gerundet auf 2 Nachkommastellen, Angabe einer Nachkommastelle")
display(df_3blatt.round(2).style.format(precision=1))

# Round 2, aber nur für die Spalte U. Ohne Style und Format
print("Gerundet auf 2 Nachkommastellen, aber nur für die Spannung U")
display(df_3blatt.round({"U [V]": 2}))

# Round 2, aber nur für die Spalte U, Round 3 für die Spalte I
print("Gerundet auf 1 Nachkommastellen, aber nur für die Spannung U, I mit 2 Nachkommastellen")
display(df_3blatt.round({"U [V]": 1, "I [mA]": 2}))

Gerundet auf 2 Nachkommastellen, Angabe einer Nachkommastelle

Gerundet auf 2 Nachkommastellen, aber nur für die Spannung U

              U [V]  I [mA]  D [1/min]
Messpunkt 1    3.74    4.11       4791
Messpunkt 2    3.54   10.50       4678
Messpunkt 3    3.33   20.20       4537
Messpunkt 4    3.13   28.40       4422
Messpunkt 5    2.92   37.20       4297
Messpunkt 6    2.73   45.00       4175
Messpunkt 7    2.51   53.40       4029
Messpunkt 8    2.33   60.40       3900
Messpunkt 9    2.12   68.60       3766
Messpunkt 10   1.90   76.20       3581
Messpunkt 11   1.71   82.60       3465
Messpunkt 12   1.53   88.60       3312
Messpunkt 13   1.32   94.90       3110
Messpunkt 14   1.10   99.30       2923
Messpunkt 15   0.86  101.70       2628
Messpunkt 16   0.74   99.30       2354

Gerundet auf 1 Nachkommastellen, aber nur für die Spannung U, I mit 2 Nachkommastellen

              U [V]  I [mA]  D [1/min]
Messpunkt 1     3.7    4.11       4791
Messpunkt 2     3.5   10.50       4678
Messpunkt 3     3.3   20.20       4537
Messpunkt 4     3.1   28.40       4422
Messpunkt 5     2.9   37.20       4297
Messpunkt 6     2.7   45.00       4175
Messpunkt 7     2.5   53.40       4029
Messpunkt 8     2.3   60.40       3900
Messpunkt 9     2.1   68.60       3766
Messpunkt 10    1.9   76.20       3581
Messpunkt 11    1.7   82.60       3465
Messpunkt 12    1.5   88.60       3312
Messpunkt 13    1.3   94.90       3110
Messpunkt 14    1.1   99.30       2923
Messpunkt 15    0.9  101.70       2628
Messpunkt 16    0.7   99.30       2354

Auf diese Art und Weise können Sie schnell und relativ simpel Ihre Tabellen in python erstellen.